[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
port=3306
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

query_cache_size = 64M
long_query_time = 9
innodb_file_per_table
tmp_table_size = 64M
skip-name-resolve

default_storage_engine=InnoDB
character-set-server = utf8

max_allowed_packet=20971520
lower_case_table_names=1

[mysqldump]


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

